

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Unit in Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let product of products">
                <td class ="aligh-middle">
                    <img src="{{product.imageUrl}}" alt="" height="50"/>
                </td>
              <td class ="aligh-middle"> {{ product.name}}</td>
              <td class ="aligh-middle">{{product.unitPrice|currency:'USD'}}</td>
              <td class ="aligh-middle">{{product.unitsInStock}}</td>
            </tr>
        </tbody>

    </table>
